$min-width: 320;
$max-width: 1880;
$max-width-Container: 1500;
$container-padding:10;
$container-width:$max-width-Container + $container-padding * 2;


$title-color:#212121;
$main-text-color:#646464;
$btn-main-color: #37806B;
$btn-color:#CAA892;
$decor-color:#B0855B;

%title-font-style {
    font-family: 'Poppins', serif;
    color: $title-color;
}
%main-text-style {
    font-family: 'Open Sans', serif;
}


$breakpoint-desktop:rem($container-width); /*>=992 Desktop, large screens*/
$breakpoint-laptop:rem(991.98);/*>=768 Small screens, laptop*/
$breakpoint-tablet:rem(767.98); /*>=480 Ipads, Tablets*/
$breakpoint-mobile:rem(479.98);/*<=480 mobile*/