@import "_variables", "_functions";
.main {
  flex: 1 1 auto;
  width: 100%;

  .project {
    position: relative;
    &::before {
      content: url("../images/project/decor.svg");
      display: block;
      width: vw(208);
      height: vw(150);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    flex: 1 1 auto;
    &__container {
      @include main-container();
      display: flex;
      align-items: center;
      padding: rem(42) rem(85) rem(75) rem(50);
      gap: rem(14);

      .content {
        flex: 0 1 rem(625);
        min-width: rem(385);
        min-height: rem(458);
        display: flex;
        flex-direction: column;
        &__subtitle {
          text-transform: uppercase;
          font-weight: 600;
          color: $main-text-color;
          font-size: rem(20);
          line-height: rem(27);
        }
        &__title {
          @extend %title-font-style;
          font-weight: 600;
          text-transform: capitalize;
          font-size: vw(72);
          line-height: rem(78);
          margin-top: rem(13);
        }
        &__text {
          color: $main-text-color;
          line-height: rem(30);
          margin-top: rem(26);
        }
        &__btn {
          width: rem(147);
          min-height: rem(48);
          line-height: em(40, 18);
          font-weight: 700;
          margin-top: rem(31);
          @include main-shape(20, 5);
          @extend %green-btn-style;
          transition: all 0.3s;
          &:hover {
            @extend %green-btn-hover-style;
          }
        }
      }

      .view {
        $view-radius: 137;
        flex: 0 1 vw(703);
        min-width: rem(415);
        min-height: rem(646);
        @include main-shape($view-radius, 2);
        background: url("../images/project/room.jpeg") center / cover;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          @include main-shape($view-radius, 2);
          border-color: $decor-color;
          position: absolute;
          top: rem(32);
          left: rem(34);
          z-index: -2;
        }
      }
      @include tablet() {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      @include laptop() {
        .content__title {
          font-size: rem(48);
        }
        .content__text {
          font-size: rem(18);
        }
      }
    }
  }
  .services {
    position: relative;
    &::after {
      content: url("../images/services/decor_service.svg");
      display: block;
      width: vw(242);
      height: vw(255);
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &__container {
      @include main-container();
      padding-top: rem(143);
      min-height: rem(920);
      display: flex;
      flex-direction: column;
    }
    &__subtitle {
      text-transform: uppercase;
      font-size: rem(20);
      line-height: rem(28);
      font-weight: 600;
      letter-spacing: -0.01em;
      color: $main-text-color;
      margin-left: rem(23);
    }
    &__title {
      @extend %title-font-style;
      font-weight: 500;
      text-transform: capitalize;
      font-size: vw(48);
      line-height: rem(78);
      color: $title-color;
      margin-left: rem(23);
    }
    &__menu {
      display: flex;
      gap: vw(75);
      font-size: rem(16);
      margin: rem(29) 0 rem(110) rem(23);
    }
    &__menu-item {
      flex: 0 1 rem(203);
    }
    &__btn {
      @extend %main-text-style;
      font-weight: 700;
      border-radius: rem(20);
      border: rem(5) solid transparent;
      line-height: 2em;
      width: 100%;
      min-width: rem(160);
      @extend %green-btn-style;
      transition: all 0.3s;
      &:hover {
        @extend %green-btn-hover-style;
      }
    }

    .service {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(60) rem(20);

      &__item {
        width: rem(470);
        height: rem(165);
        padding: rem(10) rem(24) rem(30) rem(44);
        display: flex;
        align-items: center;
        gap: rem(22);
        @include main-shape(60, 2);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        &:hover {
          background-color: $btn-color;
          color: #ffffff;
          .service__title,
          .service__description {
            color: #ffffff;
          }
        }
      }
      &__icon {
        width: rem(44);
        height: rem(34);
      }
      &__title {
        font-weight: 700;
        font-size: rem(24);
        line-height: rem(50);
        color: $title-color;
        text-transform: capitalize;
        width: rem(300);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
       
      }
      &__description {
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(28);
        letter-spacing: -0.01em;
        color: $main-text-color;
        width: rem(315);
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box; 
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        max-height: 5em;        
      }
    }
    @include laptop() {
      .service {
        justify-content: center;
      }
      &__title {
        font-size: rem(40);
      }
    }
    @include tablet() {
      &__menu {
        flex-wrap: wrap;
        justify-content: center;
      }
      &__title,
      &__subtitle {
        text-align: center;
      }
    }
  }

  .about {
    position: relative;
    &::before {
      content: url("../images/about/decor-about.svg");
      display: inline-block;
      width: vw(208);
      height: vw(150);
      position: absolute;
      bottom: vw(-75);
      left: vw(246);
    }
    &__container {
      @include main-container();
      display: flex;
      justify-content: center;
      padding: rem(142) rem(50);
      gap: rem(120);

      .view-about {
        $view-radius: 137;
        flex: 0 1 vw(669);
        min-width: rem(482);
        min-height: rem(711);
        @include main-shape($view-radius, 2);
        background: url("../images/about/room-about.jpeg") center / cover;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 100%;
          min-height: 100%;
          @include main-shape($view-radius, 2);
          border-color: $decor-color;
          position: absolute;
          top: rem(-32);
          left: rem(-35);
          z-index: -2;
        }
      }
      .content-about {
        flex: 0 1 rem(545);
        min-width: rem(110);
        min-height: rem(580);
        display: flex;
        flex-direction: column;

        &__subtitle {
          text-transform: uppercase;
          font-weight: 500;
          color: $main-text-color;
          font-size: rem(20);
          line-height: rem(30);
        }
        &__title {
          @extend %title-font-style;
          font-weight: 500;
          text-transform: capitalize;
          font-size: rem(48);
          line-height: rem(57);
          margin-top: rem(29);
        }
        &__text {
          color: $main-text-color;
          line-height: rem(18);
          margin-top: rem(30);
          padding: rem(5);
          margin-top: rem(15);
          white-space: pre-line;
        }
        &__btn {
          width: rem(140);
          min-height: rem(42);
          line-height: em(35, 16);
          font-weight: 700;
          margin-top: rem(17);
          @include main-shape(20, 5);
          @extend %green-btn-style;
          transition: all 0.3s;
          &:hover {
            @extend %green-btn-hover-style;
          }
        }
      }

      @include tablet() {
        flex-wrap: wrap;
        align-items: center;
      }
      @include laptop() {
        padding-left: 0;
        padding-right: 0;
        width: vw($container-width + 100);

        &__title {
          font-size: rem(40);
        }
      }
    }
  }

  .shop {
    position: relative;
    &::after {
      content: url("../images/shop/decore-shop.svg");
      display: block;
      width: vw(208);
      height: vw(154);
      position: absolute;
      top: 40%;
      right: 0;
    }
    &__container {
      @include main-container();
      display: flex;
      align-items: center;
      padding: rem(55) rem(50) rem(272);
      gap: rem(32);
      justify-content: space-around;

      .content-shop {
        flex: 0 1 rem(638);
        min-height: rem(660);
        display: flex;
        flex-direction: column;

        &__counter {
          flex: 0 1 rem(310);
          min-height: rem(220);
          text-transform: uppercase;
          font-weight: 700;
          line-height: 1em;
          color: transparent;
          background: url("../images/shop/number-bg.jpeg") rem(900) / rem(960);
          background-position: 30% 54%;
          background-clip: text;
          font-size: 288px;
          letter-spacing: -0.01em;
        }
        &__title {
          @extend %title-font-style;
          font-weight: 500;
          text-transform: capitalize;
          font-size: rem(50);
          line-height: rem(65);
          margin-top: rem(30);
        }
        &__btn {
          width: rem(172);
          min-height: rem(44);
          line-height: em(40, 18);
          font-weight: 700;
          margin-top: rem(19);
          @include main-shape(20, 5);
          @extend %green-btn-style;
          transition: all 0.3s;
          &:hover {
            @extend %green-btn-hover-style;
          }
        }
      }
      .view-shop {
        $view-radius: 137;
        flex: 0 1 vw(669);
        min-width: rem(509);
        min-height: rem(711);
        @include main-shape($view-radius, 2);
        background: url("../images/shop/shop-room.jpeg") center / cover;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          @include main-shape($view-radius, 2);
          border-color: $decor-color;
          position: absolute;
          bottom: rem(-28);
          left: rem(30);
          z-index: -2;
        }
      }

      @include tablet() {
        flex-wrap: wrap;
        align-items: center;
      }
      @include laptop() {
        padding-left: 0;
        padding-right: 0;
        width: vw($container-width + 100);

        &__title {
          font-size: rem(40);
        }
      }
    }
  }

  .stat {
    background-color: $bg-color;
    position: relative;
    &::after {
      content: url("../images/stat/decor-stat.svg");
      display: block;
      width: vw(213);
      height: vw(154);
      position: absolute;
      bottom: -10%;
      left: 0;
    }
    &__container {
      @include main-container();
      padding: rem(82) rem(100);
      .stat__title {
        @extend %title-font-style;
        width: vw(821);
        margin: 0 auto;
        font-weight: 500;
        text-transform: capitalize;
        font-size: rem(48);
        line-height: rem(60);
        text-align: center;
        white-space: pre-line;
      }
      .data {
        display: flex;
        align-items: flex-start;
        column-gap: rem(190);
        margin-top: rem(87);
        min-height: rem(278);

        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 0 1 rem(185);
          min-height: rem(182);
          @include main-shape(40, 2);
          background-color: #ffffff;
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          position: relative;
          z-index: 5;
        }
        &__item:nth-child(even) {
          align-self: self-end;
          &::before {
            content: url("../images/stat/Vector3.svg");
            display: block;
            width: rem(218);
            height: rem(106);
            position: absolute;
            left: -120%;
            top: -2%;
            z-index: 1;
          }
        }
        &__item:nth-child(even):not(:last-child):after {
          content: url("../images/stat/Vector2.svg");
          display: block;
          width: rem(218);
          height: rem(95);
          position: absolute;
          right: -120%;
          bottom: 50%;
          z-index: 1;
        }

        &__count {
          font-weight: 700;
          font-size: rem(50);
          line-height: rem(60);
          color: $title-color;
        }
        &__name {
          color: $main-text-color;
          text-transform: capitalize;
          font-weight: 700;
          line-height: rem(30);
        }
      }
    }
    @include tablet() {
      display: none;
    }
  }

  .testimonials {
    min-width: rem(812);

    &__container {
      @include main-container();
      padding: rem(135) rem(5) rem(100) 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__subtitle {
      text-transform: uppercase;
      @extend %title-font-style;
      font-weight: 500;
      color: $main-text-color;
      font-size: rem(20);
      line-height: rem(30);
    }
    &__title {
      @extend %title-font-style;
      font-weight: 500;
      font-size: rem(48);
      line-height: rem(72);
      margin-top: rem(3);
    }
    &__buttons {
      width: rem(110);
      font-weight: 700;
      font-size: rem(20);
      text-align: center;
      vertical-align: middle;
      display: flex;
      justify-content: space-between;
      align-self: flex-end;
      margin-right: rem(150);
    }
    &__btn {
      width: rem(30);
      height: rem(30);
      background-color: $btn-main-color;
      box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
      color: #ffffff;
      border-radius: 50%;
      border: rem(2) solid transparent;
      transition: all 0.3s;
      &:hover {
        @extend %green-btn-hover-style;
      }
    }
    
     
    .swiper{
      padding-top:rem(85);
      width: 90%;
      margin: 0 auto;
      height: rem(460);
      position: relative;
      display: flex;
      justify-content: center;
      .swiper-button-prev,.swiper-button-next {
        position: absolute;
        top:rem(50);
      }
      .swiper-button-next{
        right: rem(20);
      }
      .swiper-button-prev{
       left: rem(1280);
      }
    }
   
    .swiper-button-prev,.swiper-button-next {
      position: absolute;
      top:rem(50);
    }
    .swiper-button-next{
      right: rem(20);
    }
    .swiper-button-prev{
     left: rem(150);
    }
    .swiper-slide{
      padding-left: 90px;
    }
   
    &__item {
      @include main-shape(70, 0);
      width: rem(571);
      height: rem(226);
      padding: rem(40) rem(42) rem(60) rem(95);
      background: #ffffff;
      color: $main-text-color;
      box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
      position: relative;
    }
    &__avatar {
      position: absolute;
      left: rem(-65);
      top: rem(40);
      width: rem(130);
      height: rem(130);
      @include main-shape(40, 0);
      object-fit: cover;
      object-position: 50% 35%;
    }
    &__user-data {
      display: flex;
    }
    &__user-info {
      display: flex;
    }
    &__user-name {
      color: $title-color;
      font-weight: 700;
      font-size: rem(24);
      line-height: rem(33);
      margin-top: rem(3);
    }
    &__user-position {
      font-size: rem(16);
      line-height: rem(22);
      width: 40%;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__marks {
      flex: 1 1 auto;
      align-self: flex-end;
      font-family: "Basic Sans SF Bold";
      font-weight: 700;
      color: $decor-color;
      font-size: rem(96);
      text-align: end;
    }
    &__text {
      margin-top: rem(8);
    }
  }

  .news {
    min-height: rem(1022);
    background-color: $bg-color;
    position: relative;
    &::after {
      content: url("../images/news/decor-news.svg");
      display: block;
      width: vw(209);
      height: vw(154);
      position: absolute;
      bottom: -7%;
      right: 0;
    }
    &__container {
      @include main-container();
      padding: rem(90) rem(10) rem(122) rem(100);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__subtitle {
      text-transform: uppercase;
      font-weight: 500;
      color: $main-text-color;
      font-size: rem(20);
      line-height: rem(28);
    }
    &__section-title {
      @extend %title-font-style;
      font-weight: 500;
      text-transform: capitalize;
      font-size: rem(48);
      line-height: rem(28);
      margin-top: rem(21);
    }
    &__wrapper {
      margin-top: rem(82);
      display: flex;
      gap: rem(119);
    }
    &__item {
      flex: 0 1 rem(620);
      min-height: rem(646);
    }
    &__view {
      display: block;
      $view-radius: 96;
      width: vw(554);
      height: rem(387);
      position: relative;
      z-index: 2;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        @include main-shape($view-radius, 2);
        border-color: $decor-color;
        position: absolute;
        top: rem(16);
        left: rem(16);
        z-index: -1;
      }
      .news__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include main-shape($view-radius, 2);
      }
    }

    &__title {
      margin-top: rem(60);
      font-weight: 600;
      @extend %title-font-style;
      text-transform: capitalize;
      font-size: rem(28);
      line-height: rem(28);
    }
    &__descriptions {
      margin-top: rem(17);
    }
    &__btn {
      display: inline-block;
      box-sizing: border-box;
      min-width: rem(278);
      min-height: rem(55);
      font-weight: 600;
      line-height: rem(32);
      margin-top: rem(45);
      padding: rem(5);
      @extend %green-btn-style;
      @include main-shape(25, 5);
      transition: all 0.3s;
      &:hover {
        @extend %green-btn-hover-style;
      }
    }
  }

  .subscribe {
    min-height: rem(702);
    padding-top: rem(103);
    position: relative;
    &::after {
      content: url("../images/subscribe/decor-subscribe.svg");
      display: block;
      width: vw(213);
      height: vw(154);
      position: absolute;
      bottom: -10%;
      left: rem(10);
    }
    &__container {
      @include main-container();
      display: flex;
      justify-content: center;
    }
    &__form {
      flex: 0 1 vw(772);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: rem(503);
      color: $main-text-color;
    }
    &__form-title {
      @extend %title-font-style;
      font-weight: 500;
      text-transform: capitalize;
      font-size: rem(48);
      line-height: rem(28);
      letter-spacing: 0.08em;
      &::after {
        content: "";
        display: block;
        width: vw(461);
        border: 1px solid $main-text-color;
        margin: rem(40) auto;
      }
    }
    &__form-info {
      max-width: vw(646);
      text-align: center;
    }
    &__user-data {
      display: flex;
      min-width: 100%;
      justify-content: space-between;
      margin-top: rem(40);
    }

    &__user-name,
    &__user-surname,
    &__user-email {
      @include main-shape(20, 0);
      background-color: #eeeeee;
      line-height: rem(55);
      font-weight: 500;
      display: inline-block;
      padding: 0 rem(30);
    }
    &__user-name,
    &__user-surname {
      flex: 0 1 rem(328);
    }
    &__user-email {
      flex: 1 1 auto;
      min-width: 100%;
      margin-top: rem(59);
    }

    &__btn {
      margin-top: rem(92);
      min-width: vw(180);
      @extend %green-btn-style;
      @include main-shape(20, 5);
      border-radius: 0 0 rem(20) 0;
      line-height: rem(30);
      font-weight: 600;
      transition: all 0.3s;
      &:hover {
        @extend %green-btn-hover-style;
      }
    }
  }
}
