@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Raleway:wght@500&display=swap");
/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.header {
  width: 100%;
  min-height: 9.125rem;
  margin-top: 2.6875rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #212121;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
}
.header__container {
  width: 80.8510638298vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding: 5.875rem 8.375rem 3.125rem 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.875rem;
     -moz-column-gap: 3.875rem;
          column-gap: 3.875rem;
  text-align: center;
  line-height: 2em;
}
.header__container .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.25rem;
          flex: 0 0 9.25rem;
}
.header__container .logo__img {
  min-width: 100%;
}
.header__container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-transform: uppercase;
}
.header__container .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  height: 2rem;
}
.header__container .menu__item {
  border-radius: 0.9375rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  padding: 0 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__container .menu__item:hover {
  border-color: #37806B;
}
.header__container .menu__item:hover .menu__link {
  color: #37806B;
}
.header__container .menu__link {
  color: inherit;
}
.header__container .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container .auth__item {
  min-width: 5.9375rem;
  height: 2rem;
  border-radius: 0.9375rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background-color: #CAA892;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__container .auth__item:hover {
  border-color: #B0855B;
  background-color: #FFFFFF;
}
.header__container .auth__item:hover .auth__link {
  color: #B0855B;
}
.header__container .auth__link {
  color: #FFFFFF;
}