@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Raleway:wght@500&display=swap");
@font-face {
  font-family: "Basic Sans SF Bold";
  src: url("../fonts/BasicSansSFBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* Desktop, large screens*/
/*>=1081 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
/* Desktop, large screens*/
/*>=1081 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.header {
  width: 100%;
  min-height: 8.75rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #212121;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 20;
}
.header__container {
  width: 80.8510638298vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding: 2.6595744681vw 7.1276595745vw 2.6595744681vw 2.9255319149vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  text-align: center;
  line-height: 2rem;
}
.header__container .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.25rem;
          flex: 0 0 9.25rem;
  position: relative;
  z-index: 5;
}
.header__container .logo__img {
  min-width: 100%;
}
.header__container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-transform: uppercase;
  position: relative;
}
.header__container .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 0.5319148936vw;
     -moz-column-gap: 0.5319148936vw;
          column-gap: 0.5319148936vw;
  height: 2rem;
}
.header__container .menu__item {
  border-radius: 0.9375rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  padding: 0 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__container .menu__item.auth {
  min-width: 5.9375rem;
  min-height: 2rem;
  border-radius: 0.9375rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background-color: #caa892;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__container .menu__item.auth .auth__link {
  color: #ffffff;
}
.header__container .menu__item.auth:hover {
  border-color: #b0855b;
  background-color: #ffffff;
}
.header__container .menu__item.auth:hover .auth__link {
  color: #b0855b;
}
.header__container .menu__item:hover {
  border-color: #37806b;
}
.header__container .menu__item:hover .menu__link {
  color: #37806b;
}
.header__container .menu__link {
  color: inherit;
}
@media (max-width: rem(1439.98)) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .header__container {
    width: 86.170212766vw;
  }
}
@media (max-width: rem(1080.98)) {
  .header .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(137, 252, 219, 0.8);
    overflow: auto;
    -webkit-transform: all 0.4s ease;
            transform: all 0.4s ease;
  }
  .header .menu__list {
    padding-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-column-gap: 0.2659574468vw;
       -moz-column-gap: 0.2659574468vw;
            column-gap: 0.2659574468vw;
    font-size: 1.7rem;
    font-weight: 700;
    height: 100%;
  }
  .header .menu__list .auth {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header .menu.active {
    left: 0;
  }
  .header .burger-icon {
    margin-left: auto;
    width: 2.5rem;
    height: 1.875rem;
    cursor: pointer;
    position: relative;
    z-index: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .burger-icon:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header .burger-icon:hover span, .header .burger-icon:hover::before, .header .burger-icon:hover::after {
    background-color: #212121;
  }
  .header .burger-icon span, .header .burger-icon::before, .header .burger-icon::after {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10%;
    background-color: #646464;
  }
  .header .burger-icon span {
    top: 45%;
  }
  .header .burger-icon::before, .header .burger-icon::after {
    content: "";
  }
  .header .burger-icon::before {
    top: 0;
  }
  .header .burger-icon::after {
    bottom: 0;
  }
  .header .burger-icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .burger-icon.active::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(-3px, -50%);
            transform: rotate(45deg) translate(-3px, -50%);
  }
  .header .burger-icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header .burger-icon.active span, .header .burger-icon.active::before, .header .burger-icon.active::after {
    background-color: #646464;
  }
  .header .burger-icon.active span:hover, .header .burger-icon.active::before:hover, .header .burger-icon.active::after:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.header .progress {
  width: 100%;
  height: 1rem;
}
.header .progress__container {
  width: 80.8510638298vw;
  padding: 0 0.625em;
  margin: 0 auto;
  margin: 0 auto;
  padding: 0 7.1276595745vw;
  height: 0.5em;
}
.header .progress__rate {
  width: 0%;
  height: 100%;
  border-radius: 1.25rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background: rgb(120, 233, 195);
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, rgba(120, 233, 195, 0.6)), color-stop(38%, rgba(0, 190, 129, 0.6)), color-stop(65%, rgba(68, 154, 129, 0.6)), to(rgba(52, 108, 67, 0.6)));
  background: linear-gradient(90deg, rgba(120, 233, 195, 0.6) 2%, rgba(0, 190, 129, 0.6) 38%, rgba(68, 154, 129, 0.6) 65%, rgba(52, 108, 67, 0.6) 100%);
}