@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Raleway:wght@500&display=swap");
@font-face {
  font-family: "Basic Sans SF Bold";
  src: url("../fonts/BasicSansSFBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* Desktop, large screens*/
/*>=1081 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
/* Desktop, large screens*/
/*>=1081 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
html {
  -webkit-text-size-adjust: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
img,
samp,
small,
strike,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
menu,
nav,
section,
time,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

main,
article,
footer,
header,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input:required,
input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #eee inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:focus {
  outline: none;
}

[hidden] {
  display: none;
}

a:active,
a:hover {
  outline: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(45deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
  background-size: 600% 100%;
  -webkit-animation: gradient 5s linear infinite, disappear 0.5s ease forwards 4.5s;
          animation: gradient 5s linear infinite, disappear 0.5s ease forwards 4.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@-webkit-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.loader__wrapper {
  width: 100%;
}
.loader .circle-wrapper .circle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #37806b;
  border-radius: 50%;
  -webkit-box-shadow: #fff 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: #fff 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.loader .circle-wrapper .circle.first {
  top: 25%;
  left: 19.5%;
  -webkit-animation: moving 5s ease-in-out infinite;
          animation: moving 5s ease-in-out infinite;
}
.loader .circle-wrapper .circle.second {
  bottom: 25%;
  right: 19%;
  -webkit-animation: movingBack 5s ease-in-out infinite;
          animation: movingBack 5s ease-in-out infinite;
}
.loader .circle-wrapper .circle:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.loader .circle-wrapper .circle:nth-child(3) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
@-webkit-keyframes moving {
  0% {
    -webkit-transform-origin: 700% 100%;
            transform-origin: 700% 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 700% 100%;
            transform-origin: 700% 100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.01% {
    -webkit-transform-origin: -700% 100%;
            transform-origin: -700% 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform-origin: -700% 50%;
            transform-origin: -700% 50%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes moving {
  0% {
    -webkit-transform-origin: 700% 100%;
            transform-origin: 700% 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 700% 100%;
            transform-origin: 700% 100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.01% {
    -webkit-transform-origin: -700% 100%;
            transform-origin: -700% 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform-origin: -700% 50%;
            transform-origin: -700% 50%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes movingBack {
  0% {
    -webkit-transform-origin: -700% 50%;
            transform-origin: -700% 50%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  50% {
    -webkit-transform-origin: -700% 100%;
            transform-origin: -700% 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50.01% {
    -webkit-transform-origin: 700% 100%;
            transform-origin: 700% 100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform-origin: 700% 100%;
            transform-origin: 700% 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes movingBack {
  0% {
    -webkit-transform-origin: -700% 50%;
            transform-origin: -700% 50%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  50% {
    -webkit-transform-origin: -700% 100%;
            transform-origin: -700% 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50.01% {
    -webkit-transform-origin: 700% 100%;
            transform-origin: 700% 100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform-origin: 700% 100%;
            transform-origin: 700% 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.loader #company {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: draw 1s ease forwards, coloring 2s ease alternate 3s;
          animation: draw 1s ease forwards, coloring 2s ease alternate 3s;
}
.loader #company path:nth-child(2) {
  stroke-dasharray: 259;
  stroke-dashoffset: 259;
  -webkit-animation: draw 1s ease forwards, coloring 2s ease alternate 2.8s;
          animation: draw 1s ease forwards, coloring 2s ease alternate 2.8s;
}
.loader #company path:nth-child(3) {
  stroke-dasharray: 237;
  stroke-dashoffset: 237;
  -webkit-animation: draw 1s ease forwards 0.3s, coloring 2s ease alternate 3s;
          animation: draw 1s ease forwards 0.3s, coloring 2s ease alternate 3s;
}
.loader #company path:nth-child(4) {
  stroke-dasharray: 225;
  stroke-dashoffset: 225;
  -webkit-animation: draw 1s ease forwards 0.6s, coloring 2s ease alternate 3s;
          animation: draw 1s ease forwards 0.6s, coloring 2s ease alternate 3s;
}
.loader #company path:nth-child(5) {
  stroke-dasharray: 284;
  stroke-dashoffset: 284;
  -webkit-animation: draw 1s ease forwards 0.9s, coloring 2s ease alternate 3s;
          animation: draw 1s ease forwards 0.9s, coloring 2s ease alternate 3s;
}
.loader #company path:nth-child(6) {
  stroke-dasharray: 258;
  stroke-dashoffset: 258;
  -webkit-animation: draw 1s ease forwards 1.2s, coloring 2s ease alternate 3s;
          animation: draw 1s ease forwards 1.2s, coloring 2s ease alternate 3s;
}
.loader #company path:nth-child(7) {
  stroke-dasharray: 238;
  stroke-dashoffset: 238;
  -webkit-animation: draw 1s ease forwards 1.5s, coloring 2s ease alternate 3.1s;
          animation: draw 1s ease forwards 1.5s, coloring 2s ease alternate 3.1s;
}
.loader #company path:nth-child(8) {
  stroke-dasharray: 237;
  stroke-dashoffset: 237;
  -webkit-animation: draw 1s ease forwards 1.8s, coloring 2s ease alternate 3.2s;
          animation: draw 1s ease forwards 1.8s, coloring 2s ease alternate 3.2s;
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes coloring {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}
@keyframes coloring {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}