.main .popup .passive, .main .popup .discount, .main .subscribe__form-title, .main .news__title, .main .news__section-title, .main .testimonials__title, .main .testimonials__subtitle, .main .stat__container .stat__title, .main .shop__container .content-shop__title, .main .about__container .content-about__title, .main .services__title, .main .project__container .content__title {
  font-family: "Poppins", serif;
  color: #212121;
}

.main .services__btn {
  font-family: "Open Sans", serif;
}

.main .subscribe__btn, .main .news__btn, .main .shop__container .content-shop__btn, .main .about__container .content-about__btn, .main .services__btn, .main .project__container .content__btn {
  text-transform: uppercase;
  background-color: #37806B;
  color: #ffffff;
  text-align: center;
}

.main .subscribe__btn:hover, .main .news__btn:hover, .main .testimonials__btn:hover, .main .shop__container .content-shop__btn:hover, .main .about__container .content-about__btn:hover, .main .project__container .content__btn:hover {
  border-color: #37806B;
  color: #37806B;
  background-color: #ffffff;
}

/* Desktop, large screens*/
/*>=1081 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.main .popup .passive, .main .popup .discount, .main .subscribe__form-title, .main .news__title, .main .news__section-title, .main .testimonials__title, .main .testimonials__subtitle, .main .stat__container .stat__title, .main .shop__container .content-shop__title, .main .about__container .content-about__title, .main .services__title, .main .project__container .content__title {
  font-family: "Poppins", serif;
  color: #212121;
}

.main .services__btn {
  font-family: "Open Sans", serif;
}

.main .subscribe__btn, .main .news__btn, .main .shop__container .content-shop__btn, .main .about__container .content-about__btn, .main .services__btn, .main .project__container .content__btn {
  text-transform: uppercase;
  background-color: #37806B;
  color: #ffffff;
  text-align: center;
}

.main .subscribe__btn:hover, .main .news__btn:hover, .main .testimonials__btn:hover, .main .shop__container .content-shop__btn:hover, .main .about__container .content-about__btn:hover, .main .project__container .content__btn:hover {
  border-color: #37806B;
  color: #37806B;
  background-color: #ffffff;
}

/* Desktop, large screens*/
/*>=1081 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main .project {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main .project::before {
  content: url("../images/project/decor.svg");
  display: block;
  width: 10.8333333333vw;
  height: 7.8125vw;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main .project__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.625rem 5.3125rem 4.6875rem 3.125rem;
  gap: 0.875rem;
}
.main .project__container .content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.0625rem;
          flex: 0 1 39.0625rem;
  min-width: 24.0625rem;
  min-height: 28.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .project__container .content__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  color: #646464;
  font-size: 1.25rem;
  line-height: 1.6875rem;
}
.main .project__container .content__title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 3.75vw;
  line-height: 4.875rem;
  margin-top: 0.8125rem;
}
.main .project__container .content__text {
  color: #646464;
  line-height: 1.875rem;
  margin-top: 1.625rem;
}
.main .project__container .content__btn {
  width: 9.1875rem;
  min-height: 3rem;
  line-height: 2.2222222222em;
  font-weight: 700;
  margin-top: 1.9375rem;
  border-radius: 1.25rem 0rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-style: solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .project__container .view {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.6145833333vw;
          flex: 0 1 36.6145833333vw;
  min-width: 25.9375rem;
  min-height: 40.375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background: url("../images/project/room.jpeg") center/cover;
  position: relative;
}
.main .project__container .view::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  border-color: #B0855B;
  position: absolute;
  top: 2rem;
  left: 2.125rem;
  z-index: -2;
}
@media (max-width: rem(1080.98)) {
  .main .project__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: rem(1439.98)) {
  .main .project__container .content__title {
    font-size: 3rem;
  }
  .main .project__container .content__text {
    font-size: 1.125rem;
  }
}
.main .services {
  position: relative;
}
.main .services::after {
  content: url("../images/services/decor_service.svg");
  display: block;
  width: 12.6041666667vw;
  height: 13.28125vw;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main .services__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding-top: 8.9375rem;
  min-height: 57.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .services__subtitle {
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #646464;
  margin-left: 1.4375rem;
}
.main .services__title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 2.5vw;
  line-height: 4.875rem;
  color: #212121;
  margin-left: 1.4375rem;
}
.main .services__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.90625vw;
  font-size: 1rem;
  margin: 1.8125rem 0 6.875rem 1.4375rem;
}
.main .services__menu-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 12.6875rem;
          flex: 0 1 12.6875rem;
}
.main .services__btn {
  font-weight: 700;
  border-radius: 1.25rem;
  border: 0.3125rem solid transparent;
  line-height: 2em;
  width: 100%;
  min-width: 10rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.75rem 1.25rem;
}
.main .services .service__item {
  width: 29.375rem;
  height: 10.3125rem;
  padding: 0.625rem 1.5rem 1.875rem 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.375rem;
  border-radius: 3.75rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main .services .service__item:hover {
  background-color: #CAA892;
  color: #ffffff;
}
.main .services .service__item:hover .service__title,
.main .services .service__item:hover .service__description {
  color: #ffffff;
}
.main .services .service__icon {
  width: 2.75rem;
  height: 2.125rem;
}
.main .services .service__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3.125rem;
  color: #212121;
  text-transform: capitalize;
  width: 18.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .services .service__description {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.01em;
  color: #646464;
  width: 19.6875rem;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 5em;
}
@media (max-width: rem(1439.98)) {
  .main .services .service {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .services__title {
    font-size: 2.5rem;
  }
}
@media (max-width: rem(1080.98)) {
  .main .services__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .services__title, .main .services__subtitle {
    text-align: center;
  }
}
.main .about {
  position: relative;
}
.main .about::before {
  content: url("../images/about/decor-about.svg");
  display: inline-block;
  width: 10.8333333333vw;
  height: 7.8125vw;
  position: absolute;
  bottom: -3.90625vw;
  left: 12.8125vw;
}
.main .about__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8.875rem 3.125rem;
  gap: 7.5rem;
}
.main .about__container .view-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.84375vw;
          flex: 0 1 34.84375vw;
  min-width: 30.125rem;
  min-height: 44.4375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background: url("../images/about/room-about.jpeg") center/cover;
  position: relative;
}
.main .about__container .view-about::after {
  content: "";
  display: block;
  width: 100%;
  min-height: 100%;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  border-color: #B0855B;
  position: absolute;
  top: -2rem;
  left: -2.1875rem;
  z-index: -2;
}
.main .about__container .content-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.0625rem;
          flex: 0 1 34.0625rem;
  min-width: 6.875rem;
  min-height: 36.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .about__container .content-about__subtitle {
  text-transform: uppercase;
  font-weight: 500;
  color: #646464;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.main .about__container .content-about__title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 3.5625rem;
  margin-top: 1.8125rem;
}
.main .about__container .content-about__text {
  color: #646464;
  line-height: 1.125rem;
  margin-top: 1.875rem;
  padding: 0.3125rem;
  margin-top: 0.9375rem;
  white-space: pre-line;
}
.main .about__container .content-about__btn {
  width: 8.75rem;
  min-height: 2.625rem;
  line-height: 2.1875em;
  font-weight: 700;
  margin-top: 1.0625rem;
  border-radius: 1.25rem 0rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-style: solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: rem(1080.98)) {
  .main .about__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: rem(1439.98)) {
  .main .about__container {
    padding-left: 0;
    padding-right: 0;
    width: 84.375vw;
  }
  .main .about__container__title {
    font-size: 2.5rem;
  }
}
.main .shop {
  position: relative;
}
.main .shop::after {
  content: url("../images/shop/decore-shop.svg");
  display: block;
  width: 10.8333333333vw;
  height: 8.0208333333vw;
  position: absolute;
  top: 40%;
  right: 0;
}
.main .shop__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.4375rem 3.125rem 17rem;
  gap: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .shop__container .content-shop {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.875rem;
          flex: 0 1 39.875rem;
  min-height: 41.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .shop__container .content-shop__counter {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 19.375rem;
          flex: 0 1 19.375rem;
  min-height: 13.75rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  color: transparent;
  background: url("../images/shop/number-bg.jpeg") 56.25rem/60rem;
  background-position: 30% 54%;
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 288px;
  letter-spacing: -0.01em;
}
.main .shop__container .content-shop__title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  margin-top: 1.875rem;
}
.main .shop__container .content-shop__btn {
  width: 10.75rem;
  min-height: 2.75rem;
  line-height: 2.2222222222em;
  font-weight: 700;
  margin-top: 1.1875rem;
  border-radius: 1.25rem 0rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-style: solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .shop__container .view-shop {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.84375vw;
          flex: 0 1 34.84375vw;
  min-width: 31.8125rem;
  min-height: 44.4375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background: url("../images/shop/shop-room.jpeg") center/cover;
  position: relative;
}
.main .shop__container .view-shop::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  border-color: #B0855B;
  position: absolute;
  bottom: -1.75rem;
  left: 1.875rem;
  z-index: -2;
}
@media (max-width: rem(1080.98)) {
  .main .shop__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: rem(1439.98)) {
  .main .shop__container {
    padding-left: 0;
    padding-right: 0;
    width: 84.375vw;
  }
  .main .shop__container__title {
    font-size: 2.5rem;
  }
}
.main .stat {
  background-color: #F8F8F8;
  position: relative;
}
.main .stat::after {
  content: url("../images/stat/decor-stat.svg");
  display: block;
  width: 11.09375vw;
  height: 8.0208333333vw;
  position: absolute;
  bottom: -10%;
  left: 0;
}
.main .stat__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding: 5.125rem 6.25rem;
}
.main .stat__container .stat__title {
  width: 42.7604166667vw;
  margin: 0 auto;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 3.75rem;
  text-align: center;
  white-space: pre-line;
}
.main .stat__container .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 13%;
     -moz-column-gap: 13%;
          column-gap: 13%;
  margin-top: 5.4375rem;
  min-height: 17.375rem;
}
.main .stat__container .data__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 11.5625rem;
          flex: 0 1 11.5625rem;
  min-width: 9.375rem;
  height: 11.375rem;
  border-radius: 2.5rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
}
.main .stat__container .data__item:nth-child(even) {
  -ms-flex-item-align: self-end;
      align-self: self-end;
}
.main .stat__container .data__item:nth-child(even)::before {
  content: url("../images/stat/Vector3.svg");
  display: block;
  width: 13.625rem;
  height: 6.625rem;
  position: absolute;
  left: -120%;
  top: -2%;
  z-index: -3;
}
.main .stat__container .data__item:nth-child(even):not(:last-child):after {
  content: url("../images/stat/Vector2.svg");
  display: block;
  width: 13.625rem;
  height: 5.9375rem;
  position: absolute;
  right: -120%;
  bottom: 50%;
  z-index: -3;
}
.main .stat__container .data__count {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.75rem;
  color: #212121;
}
.main .stat__container .data__name {
  color: #646464;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.875rem;
}
@media (max-width: rem(1439.98)) {
  .main .stat__container {
    padding-left: 0;
    padding-right: 0;
    width: 84.375vw;
  }
}
@media (max-width: rem(1080.98)) {
  .main .stat {
    display: none;
  }
}
.main .testimonials {
  min-width: 50.75rem;
}
.main .testimonials__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding: 8.4375rem 0.3125rem 6.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .testimonials__subtitle {
  text-transform: uppercase;
  font-weight: 500;
  color: #646464;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.main .testimonials__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-top: 0.1875rem;
}
.main .testimonials__buttons {
  width: 6.875rem;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 9.375rem;
}
.main .testimonials__btn {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #37806B;
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 50%;
  border: 0.125rem solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .testimonials .swiper {
  padding-top: 5.3125rem;
  width: 100%;
  margin: 0 auto;
  height: 28.75rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .testimonials .swiper .swiper-button-prev,
.main .testimonials .swiper .swiper-button-next {
  position: absolute;
  top: 3.125rem;
}
.main .testimonials .swiper .swiper-button-next {
  right: 1.25rem;
}
.main .testimonials .swiper .swiper-button-prev {
  left: auto;
  right: 6.25rem;
}
.main .testimonials .swiper-slide {
  padding-left: 90px;
}
.main .testimonials__item {
  border-radius: 4.375rem 0rem;
  border-width: 0rem;
  border-color: transparent;
  border-style: solid;
  width: 29.7395833333vw;
  min-height: 14.125rem;
  padding: 2.5rem 2.625rem 3.75rem 5.9375rem;
  background: #ffffff;
  color: #646464;
  -webkit-box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
          box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  position: relative;
}
@media (max-width: rem(1520)) {
  .main .testimonials__item {
    width: 100%;
  }
}
.main .testimonials__avatar {
  position: absolute;
  left: -4.0625rem;
  top: 2.5rem;
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 2.5rem 0rem;
  border-width: 0rem;
  border-color: transparent;
  border-style: solid;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 35%;
     object-position: 50% 35%;
}
.main .testimonials__user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .testimonials__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .testimonials__user-name {
  color: #212121;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 2.0625rem;
  margin-top: 0.1875rem;
}
.main .testimonials__user-position {
  font-size: 1rem;
  line-height: 1.375rem;
  width: 40%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .testimonials__marks {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Basic Sans SF Bold";
  font-weight: 700;
  color: #B0855B;
  font-size: 6rem;
  text-align: end;
}
.main .testimonials__text {
  margin-top: 0.5rem;
}
.main .news {
  min-height: 63.875rem;
  background-color: #F8F8F8;
  position: relative;
}
.main .news::after {
  content: url("../images/news/decor-news.svg");
  display: block;
  width: 10.8854166667vw;
  height: 8.0208333333vw;
  position: absolute;
  bottom: -7%;
  right: 0;
}
.main .news__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding: 5.625rem 0.625rem 7.625rem 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .news__subtitle {
  text-transform: uppercase;
  font-weight: 500;
  color: #646464;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.main .news__section-title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 1.75rem;
  margin-top: 1.3125rem;
}
.main .news__wrapper {
  margin-top: 5.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.4375rem;
}
.main .news__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.75rem;
          flex: 0 1 38.75rem;
  min-height: 40.375rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main .news__item:hover {
  -webkit-transform: scale(1.05) translate3d(0, -5%, -5em);
          transform: scale(1.05) translate3d(0, -5%, -5em);
}
.main .news__view {
  display: block;
  width: 28.8541666667vw;
  height: 24.1875rem;
  position: relative;
  z-index: 2;
}
.main .news__view::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  border-color: #B0855B;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: -1;
}
.main .news__view .news__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
}
.main .news__title {
  margin-top: 3.75rem;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.75rem;
  line-height: 1.75rem;
}
.main .news__descriptions {
  margin-top: 1.0625rem;
}
.main .news__btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 17.375rem;
  min-height: 3.4375rem;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 2.8125rem;
  padding: 0.3125rem;
  border-radius: 1.5625rem 0rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-style: solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .subscribe {
  min-height: 43.875rem;
  padding-top: 6.4375rem;
  position: relative;
}
.main .subscribe::after {
  content: url("../images/subscribe/decor-subscribe.svg");
  display: block;
  width: 11.09375vw;
  height: 8.0208333333vw;
  position: absolute;
  bottom: -10%;
  left: 0.625rem;
}
.main .subscribe__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .subscribe__map {
  width: 50%;
  height: 21.875rem;
  margin-bottom: 100px;
  border-radius: 15px;
  background-color: aquamarine;
  background-color: rgb(230, 224, 224);
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
}
.main .subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.2083333333vw;
          flex: 0 1 40.2083333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 31.4375rem;
  color: #646464;
}
.main .subscribe__form-title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 1.75rem;
  letter-spacing: 0.08em;
}
.main .subscribe__form-title::after {
  content: "";
  display: block;
  width: 24.0104166667vw;
  border: 1px solid #646464;
  margin: 2.5rem auto;
}
.main .subscribe__form-info {
  max-width: 33.6458333333vw;
  text-align: center;
}
.main .subscribe__user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}
.main .subscribe__user-name, .main .subscribe__user-surname, .main .subscribe__user-email {
  border-radius: 1.25rem 0rem;
  border-width: 0rem;
  border-color: transparent;
  border-style: solid;
  background-color: #eeeeee;
  line-height: 3.4375rem;
  font-weight: 500;
  display: inline-block;
  padding: 0 1.875rem;
}
.main .subscribe__user-name:required:hover, .main .subscribe__user-surname:required:hover, .main .subscribe__user-email:required:hover {
  -webkit-box-shadow: -1px 3px 10px rgb(155, 150, 149);
          box-shadow: -1px 3px 10px rgb(155, 150, 149);
}
.main .subscribe__user-name, .main .subscribe__user-surname {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20.5rem;
          flex: 0 1 20.5rem;
  max-height: 3em;
  position: relative;
}
.main .subscribe .input-wrapper.error {
  position: relative;
}
.main .subscribe .input-wrapper.error > input {
  -webkit-box-shadow: -1px 3px 10px #8d0505;
          box-shadow: -1px 3px 10px #8d0505;
}
.main .subscribe .input-wrapper.error::after {
  content: attr(data-value);
  display: inline-block;
  width: 100%;
  line-height: 1em;
  color: #8d0505;
  font-size: 0.7em;
  font-style: italic;
  position: absolute;
  left: 2em;
  bottom: -2.5em;
}
.main .subscribe .input-wrapper.user-email {
  min-width: 100%;
}
.main .subscribe__user-email {
  min-width: 100%;
  max-height: 3em;
  margin-top: 3.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .subscribe__btn {
  margin-top: 5.75rem;
  min-width: 9.375vw;
  border-radius: 1.25rem 0rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-style: solid;
  border-radius: 0 0 1.25rem 0;
  line-height: 1.875rem;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .popup__container {
  width: 79.1666666667vw;
  padding: 0 0.625em;
  margin: 0 auto;
}
.main .popup .close {
  width: 0.7em;
  height: 0.7em;
  position: absolute;
}
.main .popup .close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.main .popup .close::before, .main .popup .close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #646464;
}
.main .popup .close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main .popup .close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main .popup .discount {
  width: 100%;
  height: 100vh;
  background-color: rgba(127, 255, 212, 0.2);
  font-weight: 700;
  font-size: 1.875rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
}
.main .popup .discount__content {
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3.125rem;
  color: #212121;
  margin: 0 auto;
  margin-top: 30vh;
  background-color: #eeeeee;
  position: relative;
  border-radius: 1.25rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main .popup .discount__content::before, .main .popup .discount__content::after {
  content: "";
  position: absolute;
  left: -20px;
  top: -20px;
  border-radius: 1.25rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background: linear-gradient(45deg, rgb(226, 86, 109), rgb(187, 140, 10), rgb(52, 161, 19), rgb(73, 35, 209), rgb(238, 64, 93), rgb(187, 140, 10), rgb(226, 86, 109));
  background-size: 500%;
  width: 107%;
  height: 120%;
  z-index: -1;
  -webkit-animation: glow 20s linear infinite;
          animation: glow 20s linear infinite;
}
@-webkit-keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.main .popup .discount__content::before, .main .popup .discount__content::after {
  -webkit-filter: blur(15px);
          filter: blur(15px);
  opacity: 0.5;
}
.main .popup .discount__content .close {
  top: 1.25rem;
  right: 0.9375rem;
}
.main .popup .discount__text {
  text-indent: 1em;
  white-space: pre-line;
}
.main .popup .discount__text::first-letter {
  text-transform: capitalize;
}
.main .popup .discount__user-name {
  text-shadow: -1px 3px 10px #37806B;
}
.main .popup .passive {
  width: 100%;
  height: 100vh;
  background-color: rgba(238, 238, 238, 0.4);
  font-weight: 700;
  font-size: 1.875rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
}
.main .popup .passive__content {
  border-radius: 1.25rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background-color: rgba(127, 255, 212, 0.9);
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20vh auto;
  padding: 3.125rem;
}
.main .popup .passive__text {
  color: #212121;
  text-indent: 1em;
  white-space: pre-line;
  text-align: center;
}
.main .popup .passive__text::first-letter {
  text-transform: capitalize;
}