/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}