@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Raleway:wght@500&display=swap");
@font-face {
  font-family: "Basic Sans SF Bold";
  src: url("fonts/BasicSansSFBold.ttf");
}
.page .wrapper .main .shop__container .content-shop__title, .page .wrapper .main .about__container .content-about__title, .page .wrapper .main .services__title, .page .wrapper .main .project__container .content__title {
  font-family: "Poppins", serif;
  color: #212121;
}

.page .wrapper .main .services__btn, .page {
  font-family: "Open Sans", serif;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.page .wrapper .main .shop__container .content-shop__title, .page .wrapper .main .about__container .content-about__title, .page .wrapper .main .services__title, .page .wrapper .main .project__container .content__title {
  font-family: "Poppins", serif;
  color: #212121;
}

.page .wrapper .main .services__btn, .page {
  font-family: "Open Sans", serif;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
/**
 * Reset Mixing
 * ================================================== */
/**
 * Disable Animation
 */
/**
   * Disable animation depends on Browser or Operation System configuration
   */
/**
   * Accessability. Black and White Mode
   */
/**
   * Accessability. Inverse Mode
   */
/**
   * Meter reset
   */
/**
   * Modern CSS Reset Tweaks
   * ================================================== */
html {
  -webkit-text-size-adjust: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

/* Box sizing normalization */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/**
   * CSS Reset Tweaks
   *
   * http://meyerweb.com/eric/tools/css/reset/
   * v2.0-modified | 20110126
   * License: none (public domain)
   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/**
   * Input Reset
   */
input:required,
input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:focus {
  outline: none;
}

/**
   * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
   */
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
   */
[hidden] {
  display: none;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

/* Make pictures easier to work with */
picture {
  display: inline-block;
}

/**
   * Address Firefox 3+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
button,
input {
  line-height: normal;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
   * Correct `select` style inheritance in Firefox 4+ and Opera.
   */
button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent;
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

/**
   * 1. Address box sizing set to content-box in IE 8/9.
   */
input[type=checkbox],
input[type=radio] {
  padding: 0;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Remove inner padding and border in Firefox 3+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

/**
   * Based on normalize.css v8.0.1
   * github.com/necolas/normalize.css
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   */
pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/**
    * Add the correct font size in all browsers.
    */
small {
  font-size: 75%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0;
}

legend {
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
  max-width: 100%;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/*
   * Misc
   * ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

.page {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page .wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Raleway:wght@500&display=swap");
  /*>=992 Desktop, large screens*/
  /*>=768 Small screens, laptop*/
  /*>=480 Ipads, Tablets*/
  /*<=480 mobile*/
  /*>=992 Desktop, large screens*/
  /*>=768 Small screens, laptop*/
  /*>=480 Ipads, Tablets*/
  /*<=480 mobile*/
  /*>=992 Desktop, large screens*/
  /*>=768 Small screens, laptop*/
  /*>=480 Ipads, Tablets*/
  /*<=480 mobile*/
  /*>=992 Desktop, large screens*/
  /*>=768 Small screens, laptop*/
  /*>=480 Ipads, Tablets*/
  /*<=480 mobile*/
}
@font-face {
  .page .wrapper {
    font-family: "Basic Sans SF Bold";
    src: url("fonts/BasicSansSFBold.ttf");
  }
}
.page .wrapper .main .shop__container .content-shop__title, .page .wrapper .main .about__container .content-about__title, .page .wrapper .main .services__title, .page .wrapper .main .project__container .content__title {
  font-family: "Poppins", serif;
  color: #212121;
}
.page .wrapper .main .services__btn, .page .wrapper .page {
  font-family: "Open Sans", serif;
}
.page .wrapper .main .shop__container .content-shop__title, .page .wrapper .main .about__container .content-about__title, .page .wrapper .main .services__title, .page .wrapper .main .project__container .content__title {
  font-family: "Poppins", serif;
  color: #212121;
}
.page .wrapper .main .services__btn, .page .wrapper .page {
  font-family: "Open Sans", serif;
}
.page .wrapper .header {
  width: 100%;
  min-height: 9.125rem;
  margin-top: 2.6875rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #212121;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
}
.page .wrapper .header__container {
  width: 80.8510638298vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding: 5.875rem 8.375rem 3.125rem 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.875rem;
     -moz-column-gap: 3.875rem;
          column-gap: 3.875rem;
  text-align: center;
  line-height: 2em;
}
.page .wrapper .header__container .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.25rem;
          flex: 0 0 9.25rem;
}
.page .wrapper .header__container .logo__img {
  min-width: 100%;
}
.page .wrapper .header__container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-transform: uppercase;
}
.page .wrapper .header__container .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  height: 2rem;
}
.page .wrapper .header__container .menu__item {
  border-radius: 0.9375rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  padding: 0 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page .wrapper .header__container .menu__item:hover {
  border-color: #37806B;
}
.page .wrapper .header__container .menu__item:hover .menu__link {
  color: #37806B;
}
.page .wrapper .header__container .menu__link {
  color: inherit;
}
.page .wrapper .header__container .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page .wrapper .header__container .auth__item {
  min-width: 5.9375rem;
  height: 2rem;
  border-radius: 0.9375rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background-color: #CAA892;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page .wrapper .header__container .auth__item:hover {
  border-color: #B0855B;
  background-color: #FFFFFF;
}
.page .wrapper .header__container .auth__item:hover .auth__link {
  color: #B0855B;
}
.page .wrapper .header__container .auth__link {
  color: #FFFFFF;
}
.page .wrapper .main .shop__container .content-shop__title, .page .wrapper .main .about__container .content-about__title, .page .wrapper .main .services__title, .page .wrapper .main .project__container .content__title {
  font-family: "Poppins", serif;
  color: #212121;
}
.page .wrapper .main .services__btn, .page .wrapper .page {
  font-family: "Open Sans", serif;
}
.page .wrapper .main .shop__container .content-shop__title, .page .wrapper .main .about__container .content-about__title, .page .wrapper .main .services__title, .page .wrapper .main .project__container .content__title {
  font-family: "Poppins", serif;
  color: #212121;
}
.page .wrapper .main .services__btn, .page .wrapper .page {
  font-family: "Open Sans", serif;
}
.page .wrapper .main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page .wrapper .main .project__container {
  width: 80.8510638298vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.625rem 5.3125rem 4.6875rem 3.125rem;
  gap: 0.875rem;
  position: relative;
}
.page .wrapper .main .project__container::before {
  content: "";
  display: block;
  width: 11.0638297872vw;
  height: 7.9787234043vw;
  background: url("../images/project/decor.svg") center/cover;
  position: absolute;
  bottom: 0;
  left: -11.0638297872vw;
}
.page .wrapper .main .project__container .content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.0625rem;
          flex: 0 1 39.0625rem;
  min-height: 28.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .wrapper .main .project__container .content__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  color: #646464;
  font-size: 1.25rem;
  line-height: 1.6875rem;
}
.page .wrapper .main .project__container .content__title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 4.5rem;
  line-height: 4.875rem;
  margin-top: 0.8125rem;
}
.page .wrapper .main .project__container .content__text {
  color: #646464;
  line-height: 1.875rem;
  margin-top: 1.625rem;
}
.page .wrapper .main .project__container .content__btn {
  width: 9.1875rem;
  min-height: 3rem;
  text-align: center;
  line-height: 2.2222222222em;
  font-weight: 700;
  margin-top: 1.9375rem;
  border-radius: 1.25rem 0rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-style: solid;
  text-transform: uppercase;
  background-color: #37806B;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page .wrapper .main .project__container .content__btn:hover {
  border-color: #37806B;
  color: #37806B;
  background-color: #ffffff;
}
.page .wrapper .main .project__container .view {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43.9375rem;
          flex: 0 1 43.9375rem;
  min-height: 40.375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background: url("../images/project/room.jpeg") center/cover;
  position: relative;
}
.page .wrapper .main .project__container .view::after {
  content: "";
  display: block;
  width: 43.9375rem;
  min-height: 40.375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  border-color: #B0855B;
  position: absolute;
  top: 2rem;
  left: 2.125rem;
  z-index: -2;
}
.page .wrapper .main .services__container {
  width: 80.8510638298vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding-top: 8.9375rem;
  min-height: 57.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .wrapper .main .services__container::after {
  content: "";
  display: block;
  width: 12.8723404255vw;
  height: 13.5638297872vw;
  background: url("../images/services/decor_service.svg") center/cover;
  position: absolute;
  bottom: 0;
  right: 0;
}
.page .wrapper .main .services__container .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .wrapper .main .services__container .service__item {
  width: 29.375rem;
  min-height: 10.3125rem;
  padding: 0.625rem 1.5rem 1.875rem 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
  border-radius: 3.75rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.page .wrapper .main .services__container .service__item:hover {
  background-color: #CAA892;
  color: #ffffff;
}
.page .wrapper .main .services__container .service__item:hover .service__title,
.page .wrapper .main .services__container .service__item:hover .service__description {
  color: #ffffff;
}
.page .wrapper .main .services__container .service__icon {
  width: 2.75rem;
  height: 2.125rem;
}
.page .wrapper .main .services__container .service .service__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3.125rem;
  color: #212121;
  text-transform: capitalize;
}
.page .wrapper .main .services__container .service .service__description {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.01em;
  color: #646464;
}
.page .wrapper .main .services__subtitle {
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #646464;
  margin-left: 1.4375rem;
}
.page .wrapper .main .services__title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 4.875rem;
  color: #212121;
  margin-left: 1.4375rem;
}
.page .wrapper .main .services__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.9893617021vw;
  font-size: 1rem;
  margin: 1.8125rem 0 6.875rem 1.4375rem;
}
.page .wrapper .main .services__btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.25rem;
  border: 0.3125rem solid transparent;
  background-color: #37806B;
  color: #ffffff;
  line-height: 2em;
  min-width: 12.6875rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page .wrapper .main .services__btn:hover {
  color: #37806B;
  background-color: #ffffff;
  border-color: #37806B;
}
.page .wrapper .main .about__container {
  width: 80.8510638298vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8.875rem 3.125rem;
  gap: 7.5rem;
}
.page .wrapper .main .about__container::before {
  content: "";
  display: block;
  width: 11.0638297872vw;
  height: 7.9787234043vw;
  background: url("../images/about/decor-about.svg") center/cover;
  position: absolute;
  bottom: -3.9893617021vw;
  left: 11.0638297872vw;
}
.page .wrapper .main .about__container .view-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.8125rem;
          flex: 0 1 41.8125rem;
  min-height: 44.4375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background: url("../images/about/room-about.jpeg") center/cover;
  position: relative;
}
.page .wrapper .main .about__container .view-about::after {
  content: "";
  display: block;
  width: 41.8125rem;
  min-height: 44.4375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  border-color: #B0855B;
  position: absolute;
  top: -2rem;
  left: -2.1875rem;
  z-index: -2;
}
.page .wrapper .main .about__container .content-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.0625rem;
          flex: 0 1 34.0625rem;
  min-height: 36.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .wrapper .main .about__container .content-about__subtitle {
  text-transform: uppercase;
  font-weight: 500;
  color: #646464;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.page .wrapper .main .about__container .content-about__title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 3.5625rem;
  margin-top: 1.8125rem;
}
.page .wrapper .main .about__container .content-about__text {
  color: #646464;
  line-height: 1.125rem;
  margin-top: 1.875rem;
  padding: 0.3125rem;
  margin-top: 0.9375rem;
}
.page .wrapper .main .about__container .content-about__btn {
  width: 8.75rem;
  min-height: 2.625rem;
  text-align: center;
  line-height: 2.1875em;
  font-weight: 700;
  margin-top: 1.0625rem;
  border-radius: 1.25rem 0rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-style: solid;
  text-transform: uppercase;
  background-color: #37806B;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page .wrapper .main .about__container .content-about__btn:hover {
  border-color: #37806B;
  color: #37806B;
  background-color: #ffffff;
}
.page .wrapper .main .shop__container {
  width: 80.8510638298vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.4375rem 3.125rem;
  gap: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
.page .wrapper .main .shop__container::after {
  content: "";
  display: block;
  width: 11.0638297872vw;
  height: 8.1914893617vw;
  background: url("../images/shop/decore-shop.svg") center/cover;
  position: absolute;
  top: 40%;
  right: 11.3829787234vw;
}
.page .wrapper .main .shop__container .content-shop {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.875rem;
          flex: 0 1 39.875rem;
  min-height: 41.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .wrapper .main .shop__container .content-shop__counter {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 19.375rem;
          flex: 0 1 19.375rem;
  min-height: 13.75rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  color: transparent;
  background: url("../images/shop/number-bg.jpeg") 56.25rem/60rem;
  background-position: 30% 54%;
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 288px;
  letter-spacing: -0.01em;
}
.page .wrapper .main .shop__container .content-shop__title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  margin-top: 1.875rem;
}
.page .wrapper .main .shop__container .content-shop__btn {
  width: 10.75rem;
  min-height: 2.75rem;
  text-align: center;
  line-height: 2.2222222222em;
  font-weight: 700;
  margin-top: 1.1875rem;
  border-radius: 1.25rem 0rem;
  border-width: 0.3125rem;
  border-color: transparent;
  border-style: solid;
  text-transform: uppercase;
  background-color: #37806B;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page .wrapper .main .shop__container .content-shop__btn:hover {
  border-color: #37806B;
  color: #37806B;
  background-color: #ffffff;
}
.page .wrapper .main .shop__container .view-shop {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.8125rem;
          flex: 0 1 41.8125rem;
  min-height: 44.4375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  background: url("../images/shop/shop-room.jpeg") center/cover;
  position: relative;
}
.page .wrapper .main .shop__container .view-shop::after {
  content: "";
  display: block;
  width: 41.8125rem;
  min-height: 44.4375rem;
  border-radius: 8.5625rem 0rem;
  border-width: 0.125rem;
  border-color: transparent;
  border-style: solid;
  border-color: #B0855B;
  position: absolute;
  bottom: -1.75rem;
  left: 1.875rem;
  z-index: -2;
}